<footer class="text-center bg-dark">
    <div class="container py-2">
        <section>
            <a
            class="btn btn-link btn-floating btn-lg m-1 text-light"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
            ></a>

            <a
            class="btn btn-link btn-floating btn-lg m-1 text-light"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-twitter"></i
            ></a>

            <a
            class="btn btn-link btn-floating btn-lg m-1 text-light"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
            ></a>
        </section>
    </div>

    <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-light" href="#">Flea Market</a>
    </div>
</footer>