<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Flea Market</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.view_name == 'index' %}active{% endif %}"
                    href="{% url 'index' %}">
                Página principal <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if request.resolver_match.view_name == 'category:products_by_category' %}active{% endif %}"
                    href="#"
                    id="navbarScrollingDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-expanded="false">
                    Categorias
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                {% if categories %}
                    {% for cat in categories %}
                        <li>
                            <a class="dropdown-item" href="{% url 'category:products_by_category' cat.slug %}">
                                {{ cat.name }}
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                        <span class="dropdown-item-text">Sem categorias</span>
                {% endif %}
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == 'product:create' %}active{% endif %}"
                        href="{% url 'product:create' %}">
                        Criar anúncio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == 'product:list_by_user' %}active{% endif %}"
                        href="{% url 'product:list_by_user' %}">
                        Ver seus anúncios
                    </a>
                </li>
            {% endif %}
        </ul>

        {% if user.is_authenticated %}
            <ul class="navbar-nav mx-4">
                <span class="navbar-text">
                    Olá, {{ user.first_name }}!
                </span>
            </ul>
        {% endif %}

        <form method="POST" action="{% url 'product:list_by_name' %}" class="form-inline my-2 my-lg-0">
            {% csrf_token %}
            <input class="form-control mr-sm-2"
                    type="search"
                    name="name"
                    placeholder="Encontre produtos!"
                    aria-label="Search"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>

        <ul class="navbar-nav mx-4">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="btn btn-outline-success mr-3" href="{% url 'users:logout' %}">
                        Sair
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a
                    class="btn btn-outline-success mr-3 {% if request.resolver_match.view_name == 'users:login' %}active{% endif %}"
                    href="{% url 'users:login' %}">
                        Entrar
                    </a>
                </li>
                <a class="nav-link {% if request.resolver_match.view_name == 'users:signup' %}active{% endif %}"
                    <a class="nav-link" href="{% url 'users:signup' %}">Cadastre-se</a>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>