{% extends "base/index.html" %}
{% load static %}
{% load humanize %}
{% load l10n %}

{% block pstyle %}
    .ptab:hover {
        text-decoration: underline;
    }

    #arrow {
        font-size: 20px;
        margin-left: 10px;
    }
{% endblock pstyle %}

{% block dynamic_messages %}
    <div id="dynamic_messages"></div>
{% endblock dynamic_messages %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block main %}
    <div class="container my-lg-5">

    <h1 class="display-5 mb-3 ptab" data-toggle="collapse" href="#fast-creation-collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
        Criação rápida
        <span id="arrow"><i class="fas fa-chevron-down"></i></span>
    </h1>
    <div class="collapse form-box" id="fast-creation-collapse" style="align-items: flex-start;">
        <form method="POST" enctype="multipart/form-data" class="mb-5" onsubmit="handleFastCreate(this, event);">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Nome do produto</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="{{ form.small_description.id_for_label }}">Descreva em poucas palavras</label>
                {{ form.small_description }}
            </div>
            <div class="form-group">
                <label for="{{ form.price.id_for_label }}">Preço</label>
                {{ form.price }}
            </div>
            <div class="form-group">
                <label for="{{ form.quantity.id_for_label }}">Quantidade</label>
                {{ form.quantity }}
            </div>
            <div class="form-group">
                <label for="{{ form.image.id_for_label }}">Foto do produto</label>
                {{ form.image }}
            </div>
            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Descrição</label>
                {{ form.description }}
            </div>
            <div class="form-group">
                <label for="{{ form.category.id_for_label }}">Categoria</label>
                {{ form.category }}
            </div>
            <button type="submit" class="btn btn-primary">Criar anúncio</button>
        </form>
    </div>

    <h1 class="display-5 mb-5">Seus produtos a venda</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Nome do anúncio</th>
                <th scope="col">Descrição</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Preço</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody id='tbody-products'>
            {% for prod in products %}
                <tr data-id="{{ prod.id }}">
                    <td>
                    <a href="{% url 'product:product_by_id' prod.id %}">
                        {% if prod.notification > 0 %}
                            <span class="mr-3 badge badge-primary">{{ prod.notification }}</span>
                        {% endif %}
                        {{ prod.name }}
                    </a>
                    </td>
                    <td>{{ prod.small_description }}</td>
                    <td>
                        <form>
                            {% csrf_token %}
                            <input
                                type="text"
                                class="form-control"
                                value="{{ prod.quantity }}"
                                onblur="handleUpdateQuantity('{{prod.id}}', this.value, event)"/>
                        </form>
                    </td>
                    <td data-price={{ prod.price|unlocalize }}>R$ {{ prod.price|intcomma }}</td>
                    <td>
                        <a class="btn btn-primary" href="{%url 'product:edit' prod.id %}">Editar</a>
                        <button class="btn btn-danger" onclick="handleDelete('{{ prod.id }}');">Remover</button>
                    </td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="3"><strong>Total:</strong></td>
                <td id="total-price" data-price={{ total_per_page|unlocalize }}><strong>R$ {{ total_per_page|intcomma }}</strong></td>
            </tr>
        </tbody>
    </table>

    </div>

    <div class="modal fade" tabindex="-1" id="remove-confirmation">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tem certeza que deseja remover esse produto?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-danger">Sim, remover!</button>
            </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block pscript %}
$(() => {
    $('#fast-creation-collapse').on('shown.bs.collapse', () => {
        $('#arrow > i').attr('class', 'fas fa-chevron-up');
    });

    $('#fast-creation-collapse').on('hidden.bs.collapse', () => {
        $('#arrow > i').attr('class', 'fas fa-chevron-down');
    });
});

function handleFastCreate(form, e) {
    e.preventDefault();
    const data = new FormData(form);
    $.ajax({
        url: '{%url 'product:fast_create' %}',
        type: 'POST',
        data,
        processData: false,
        contentType: false,
        success: (res) => {
            const formattedPrice = parseFloat(res.price).toLocaleString('pt-br', {minimumFractionDigits: 2});
            const tr = `
                <tr data-id="${res.id}">
                    <td>${res.name}</td>
                    <td>${res.small_description}</td>
                    <td>
                        <form>
                            {% csrf_token %}
                            <input
                                type="text"
                                class="form-control"
                                value="${res.quantity}"
                                onblur="handleUpdateQuantity('${res.id}', this.value, event)"/>
                        </form>
                    </td>
                    <td data-price=${parseFloat(res.price)}>R$ ${formattedPrice}</td>
                    <td>
                        <a class="btn btn-primary" href="/product/edit/${res.id}">Editar</a>
                        <button class="btn btn-danger" onclick="handleDelete('${res.id}');">Remover</button>
                    </td>
                </tr>
            `;
            $('#tbody-products').prepend(tr);

            const totalPrice = parseFloat($('#total-price').data('price'));
            const newTotalPrice = totalPrice + parseFloat(res.price) * parseFloat(res.quantity);
            $('#total-price').data('price', newTotalPrice);
            $('#total-price').html(
                `<strong>R$ ${newTotalPrice.toLocaleString('pt-br', {minimumFractionDigits: 2})}</strong>`
            );

            const alert = `
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Anúncio criado com sucesso.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            `;
            $('#dynamic_messages').html(alert);
        },
        error: (res) => {
            let message = '';
            const errors = res.responseJSON;
            for (const error in errors) {
                for (const msg of errors[error]) {
                    message += `${msg['message']}<br>`;
                }
            }
            const alert = `
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    ${message}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            `;
            $('#dynamic_messages').html(alert);
        },
    });
}

function handleUpdateQuantity(prodId, quantity, e) {
    e.preventDefault();

    if (quantity < 0) {
        const alert = `
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                A quantidade não pode ser menor que zero.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        `;
        $('#dynamic_messages').html(alert);
        return
    }

    $.ajax({
        url: '{%url 'product:update_quantity' %}',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        },
        type: 'POST',
        data: {
            prodId,
            quantity,
        },
        success: (res) => {
            let totalPrice = 0;
            $('#tbody-products').children().each((_, value) => {
                const quantity = $(value).find('input[type=text]').val();
                const price = $(value).find('td').eq(3).data('price');
                if (quantity && price) {
                    totalPrice += quantity * price;
                }
            });
            $('#total-price').data('price', totalPrice);
            $('#total-price').html(
                `<strong>R$ ${totalPrice.toLocaleString('pt-br', {minimumFractionDigits: 2})}</strong>`
            );

            const alert = `
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Quantidade atualizada.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            `;
            $('#dynamic_messages').html(alert);
        },
    });
}

function handleDelete(prodId) {
    let removedId = null;

    $('#remove-confirmation').modal('show');
    $('#remove-confirmation').one('click', '.btn-danger', () => {
        $.ajax({
            url: '{%url 'product:delete'%}',
            type: 'GET',
            data: {
                prodId
            },
            success: (res) => {
                removedId = res.removedId;

                const totalPrice = parseFloat($('#total-price').data('price'));
                const newTotalPrice = totalPrice - (parseFloat(res.price) * parseFloat(res.quantity));
                $('#total-price').data('price', newTotalPrice);
                $('#total-price').html(
                    `<strong>R$ ${newTotalPrice.toLocaleString('pt-br', {minimumFractionDigits: 2})}</strong>`
                );

                $(`[data-id='${removedId}']`).remove();

                $('#remove-confirmation').modal('hide');

                const alert = `
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        Produto removido.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                `;
                $('#dynamic_messages').html(alert);
            },
        });
    });
}
{% endblock pscript %}

{% block pagination %}
    {% if products.has_other_pages %}
        <div class="container">
        <div class="row justify-content-center">
        <div class="col-auto">
            <nav>

            <ul class="pagination">
                {% if products.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.previous_page_number }}">
                            <i class="fas fa-caret-left"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">
                            <i class="fas fa-caret-left"></i>
                        </a>
                    </li>
                {% endif %}

                {% for i in products.paginator.page_range %}
                    {% if products.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }} </a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if products.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.next_page_number }}">
                            <i class="fas fa-caret-right"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">
                            <i class="fas fa-caret-right"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>

            </nav>
        </div>
        </div>
        </div>
    {% endif %}
{% endblock pagination %}