{% extends 'base/index.html' %}
{% load static %}
{% load humanize %}

{% block pstyle %}
    .answer {
        margin: 10px 0 0 40px;
    }
{% endblock pstyle %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block main %}
    <div class="container my-lg-5">

    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner rounded">
            <div class="carousel-item active">
                <img src="{{ product.image.url }}" class="d-block w-100">
            </div>
        </div>
    </div>

    <h1 class="display-3">{{ product.name }}</h1>
    <p class="lead">
        {{ product.small_description }}
    </p>

    <div class="row">
        <div class="col-8">
            <h4>Descrição</h4>
            <p>
                {{ product.description|linebreaksbr }}
            </p>
        </div>
        <div class="col mt-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">R$ {{ product.price|intcomma }}</h2>
                    <h6 class="card-subtitle text-muted">
                        Vendido por: <a href="#" class="card-link">{{ product.owner.username }}</a>
                    </h6>
                </div>

                <div class="card-body">
                    {% if user.is_authenticated and user != product.owner %}
                        <button href="#" class="btn btn-outline-primary mb-3" type="button">
                            <i class="fas fa-credit-card mr-3"></i>
                            Comprar agora
                        </button>

                        <form method="GET" action="{% url 'cart:add' product.id %}">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-shopping-cart mr-3"></i>
                                Adicionar ao carrinho
                            </button>
                        </form>
                    {% elif product.quantity == 0 %}
                        <button class="btn btn-outline-primary mb-3" type="button" disabled>
                            <i class="fas fa-times mr-3"></i>
                            Produto fora de estoque
                        </button>
                    {% else %}
                        <button class="btn btn-outline-primary mb-3" type="button" disabled>
                            <i class="fas fa-credit-card mr-3"></i>
                            Comprar agora
                        </button>
                        <button class="btn btn-primary" type="button" disabled>
                            <i class="fas fa-shopping-cart mr-3"></i>
                            Adicionar ao carrinho
                        </button>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
        {% if questions or user != product.owner %}
            <h4>Perguntas</h4>
        {% endif %}
        {% if user != product.owner %}
            <form method="POST" action="{% url 'product:create_question' product.id %}">
                {% csrf_token %}
                <div class="form-group">
                <textarea
                    class="form-control"
                    id="question"
                    name="question"
                    rows="3"
                    placeholder="Escreva sua dúvida"></textarea>
                </div>
                {% if user.is_authenticated %}
                    <button type="submit" class="btn btn-primary">Fazer uma pergunta</button>
                {% else %}
                    <button type="submit" class="btn btn-primary" disabled>Faça login para perguntar</button>
                {% endif %}
            </form>
        {% endif %}
        {% if questions %}
            <ul class="list-group mt-3">
            {% for question in questions %}
                <li class="list-group-item">
                    <div class="media">
                        <img src="{% static 'images/profile.png' %}" class="mr-3" alt="Profile">
                        <div class="media-body">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="#">{{ question.0.owner }}</a></h5>
                                <small>{{ question.0.created_at|date:"d/m/Y H:i:s" }}</small>
                            </div>
                            <p>
                                {{ question.0.text }}
                            </p>
                        </div>
                    </div>

                    {% if question.1 %}
                        <div class="media answer">
                            <img src="{% static 'images/profile.png' %}" class="mr-3" alt="Profile">
                            <div class="media-body">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><a href="#">{{ question.1.owner }}</a></h5>
                                    <small>{{ question.1.created_at|date:"d/m/Y H:i:s" }}</small>
                                </div>
                                <p>
                                    {{ question.1.text }}
                                </p>
                            </div>
                        </div>
                    {% elif user.is_authenticated and user == product.owner %}
                        <form class="mt-4" method="POST" action="{% url 'product:answer_question' question.0.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                            <textarea
                                class="form-control"
                                id="answer"
                                name="answer"
                                rows="3"
                                placeholder="Escreva sua resposta"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Responder</button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        </div>
    </div>

    </div>
{% endblock main %}

{% block pagination %}{% endblock pagination %}