{% extends "base/index.html" %}
{% load static %}
{% load humanize %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block main %}
    <div id="cart-content" class="container my-lg-5">

    {% if purchase %}
        <h1 class="display-5 mb-5">Histórico de compras</h1>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nome do anúncio</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Comprado em</th>
                </tr>
            </thead>
            <tbody>
                {% for prod in purchase %}
                    <tr>
                        <td>
                            {% if prod.product %}
                                <a href="{% url 'product:product_by_id' prod.product.id %}">
                                    {{ prod.product.name }}
                                </a>
                            {% else %}
                                {{ prod.product_name }}
                            {% endif %}
                        </td>
                        <td>{{ prod.product_small_description }}</td>
                        <td>R$ {{ prod.product_price|intcomma }}</td>
                        <td>{{ prod.created_at|date:"d/m/Y H:i:s" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1 class="display-5 mb-5">Você não realizou nenhuma compra ainda...</h1>
    {% endif %}
    </div>
{% endblock main %}

{% block pagination %}
    {% if purchase.has_other_pages %}
        <div class="container">
        <div class="row justify-content-center">
        <div class="col-auto">
            <nav>

            <ul class="pagination">
                {% if purchase.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ purchase.previous_page_number }}">
                            <i class="fas fa-caret-left"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">
                            <i class="fas fa-caret-left"></i>
                        </a>
                    </li>
                {% endif %}

                {% for i in purchase.paginator.page_range %}
                    {% if purchase.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }} </a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if purchase.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ purchase.next_page_number }}">
                            <i class="fas fa-caret-right"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">
                            <i class="fas fa-caret-right"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>

            </nav>
        </div>
        </div>
        </div>
    {% endif %}
{% endblock pagination %}