.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box form {
    flex: 0.5;
}

.carousel-inner > .carousel-item > img {
  height: 45vh;
  object-fit: cover;
}
